#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  max-width: 800px;
  width: 800px;
  margin: 0 auto;
  padding: 0;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 1rem;
}

.item span {
  margin-right: 1rem;
  margin-left: 1rem;
  flex-grow: 1;
  text-align: left;
}

.completed {
  text-decoration: line-throught;
}